<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>投稿フォーム</title>
</head>

<body>
  <form method="post">
  	<table summary="入力フォーム">
  		<tr>
  			<th>名前：</th><td><input type="text" name="name" size="10" /></td>
  		</tr>
  		<tr>
  			<th>キー：</th><td><input type="text" name="keyName" size="10" /></td>
  		</tr>
  		<tr>
  			<th>緯度(lat)：</th><td><input type="text" name="lat" size="10" /></td>
  		</tr>
  		<tr>
  			<th>経度(lng)：</th><td><input type="text" name="lng" size="10" /></td>
  		</tr>
  		<tr>
  			<th>駐輪場の有無：</th><td><input type="checkbox" name="bicycleParking" /></td>
  		</tr>
  	</table>
  	<input type="submit" value="登録" />
  </form>
</body>
</html>
